.contenedores{
    width: 10%;
    height:20vh;
    border-radius: 20%;
}

label{
    color: rgb(201, 245, 166);
    text-align: center;
    font-size: 1.2rem;
    font:bolder;
}

input{
    color: antiquewhite;
    text-align: center;
    font-size: 60px;
    width: 80%;
    border: none;
    background: rgba(241, 237, 229, 0.103);
    align-self: center;
    outline: none;
}

body{
   background-image:repeating-radial-gradient(rgb(75, 126, 141), rgb(87, 97, 34));
}

button{
    border: 1px solid rgb(243, 238, 174);
    background: none;
    font-size: 30px;
    color: rgba(235, 132, 63, 0.678);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}