.superiormetodos{
 
}

#generacionAMostrar{
    background:	#ccece7;
    border-bottom: 2px solid #90a4ae;
    border-top: 2px solid #90a4ae;
    border-left: 2px solid #90a4ae;
    cursor: pointer;
}
#generacionAMostrar label{
    font-family:fantasy;
    color: rgb(247, 130, 94);
    font-size: 1.7rem;
    cursor: pointer;
}

#mayorOmenorEdad{
    background:	#CCECE7;
    border:2px solid #90a4ae;
    cursor: pointer;
}
#mayorOmenorEdad div label{
    font-family:fantasy;
    color: rgb(79, 163, 231);
    font-size: 1.7rem;
    cursor: pointer;
}

#mostrarLosDatos{
    background: #ccece7;
    border-top-right-radius: 2%;
    border-bottom: 2px solid #90a4ae;
    border-top: 2px solid #90a4ae;
    border-right: 2px solid #90a4ae;
    cursor: pointer;
}
#mostrarLosDatos div label{
    font-family:fantasy;
    color: rgb(124, 116, 233);
    font-size: 1.7rem;
    cursor: pointer;
}

form label{
    color: rgb(91, 102, 31);
    font-weight: 600;
}

#crear{

    outline: none;
    border:none;
    transition: all 0.3s;
}
#crear:hover{
    background: rgb(204, 203, 203);
}

input{
    outline: none;
}


#formulariodepersona{
    background-color: #78cafa;
    border-top: 2px solid #90a4ae;
    border-bottom: 2px solid #90a4ae;
    border-left: 2px solid #90a4ae;
}

.mostradorMetodos{
    background: #ccffff;
    border-bottom-right-radius: 2%;
    border-bottom: 2px solid #90a4ae;
    border-right: 2px solid #90a4ae;
    border-left: 2px solid #90a4ae;
}

.cuerpototal{
    width: 90%;
}


#reset{
    border: none;
}

#contenedorTabla{
    overflow:auto;
}