

#fondo5 {
    background: linear-gradient(to right, rgb(48, 147, 240) , rgb(228, 45, 45) 100%);
}

h1 {
  
   font-size: 4rem;
   font-family: 'Silkscreen', cursive;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: black;
}

#adivinar2{
    height: 20vh;
    width: 10vw;
    font-size: 7rem;
    border: none;
    color: rgb(227, 231, 163);
    background-color: rgb(214, 67, 67);
    border-radius: 20%;
    border:2px rgb(235, 209, 209) solid;
}

.ocultador{
    top: 25.6%;
    position: absolute;
    font-size: 5rem;
    background-color: rgb(214, 67, 67);
    height: 20vh;
    width: 10vw;
    border-radius: 20%;
    color: rgb(109, 182, 80);
    border:2px rgb(235, 209, 209) solid;
}

.textoadivinar{
    font-size: 2rem;
    color:yellow;
    font-family: 'Indie Flower', cursive;
}

.adivinadorcajita{
    color: rgb(92, 121, 66);
    height: 12vh;
    width: 7vw;
    font-size: 2rem;
    border:rgb(192, 218, 44) 2px solid;
    background-color: rgb(224, 170, 99);
    border-radius: 10%;
    outline: none;
}

.botonprobar{
    height: 12vh;
    width: 8vw;
    border: none;
    border-radius: 15%;
background-color: rgb(97, 218, 191);
    color: rgb(115, 114, 221);
    font-size: 1.5rem;
}

#otraVez{
    height: 12vh;
    border: none;
    border-radius: 15%;
background-color: rgb(176, 219, 57);
    color: rgba(117, 115, 230, 0.822);
    font-size: 1.5rem;
}

.intentos{
    background:none;
    outline: none;
    border: none;
    font-size: 2rem;
    color: rgb(195, 245, 167);
    width: 60vw;
}

.intentos::placeholder{
    color: rgb(189, 238, 160);
}

#frio1{
    color: rgba(0, 255, 255, 0.904);
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 3rem;
   font-family: 'Silkscreen', cursive;
   transition: all 1s;
   -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(3, 6, 209);
    opacity: 0;
    z-index: -4;
}

#frio2{
    color: rgba(0, 255, 255, 0.904);
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 3rem;
   font-family: 'Silkscreen', cursive;
   transition: all 1s;
   -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(3, 6, 209);
    opacity: 0;
    z-index: -4;
}


#frio3{
    color: rgba(0, 255, 255, 0.904);
    position: absolute;
    top: 25%;
    left: 2%;
    font-size: 3rem;
   font-family: 'Silkscreen', cursive;
   transition: all 1s;
   -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(3, 6, 209);
    opacity: 0;
    z-index: -4;
}


#frio4{
    color: rgba(0, 255, 255, 0.904);
    position: absolute;
    top: 35%;
    left: 16%;
    font-size: 3rem;
   font-family: 'Silkscreen', cursive;
   transition: all 1s;
   -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(3, 6, 209);
    opacity: 0;
    z-index: -4;
}


#frio5{
    color: rgba(0, 255, 255, 0.904);
    position: absolute;
    top: 45%;
    left: 5%;
    font-size: 3rem;
   font-family: 'Silkscreen', cursive;
   transition: all 1s;
   -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(3, 6, 209);
    opacity: 0;
    z-index: -4;
}


#frio6{
    color: rgba(0, 255, 255, 0.904);
    position: absolute;
    top: 55%;
    left: 15%;
    font-size: 3rem;
   font-family: 'Silkscreen', cursive;
   transition: all 1s;
   -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(3, 6, 209);
    opacity: 0;
    z-index: -4;
}


#frio7{
    color: rgba(0, 255, 255, 0.904);
    position: absolute;
    top: 65%;
    left: 5%;
    font-size: 3rem;
   font-family: 'Silkscreen', cursive;
   transition: all 1s;
   -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(3, 6, 209);
    opacity: 0;
    z-index: -4;
}

#frio8{
    color: rgba(0, 255, 255, 0.904);
    position: absolute;
    top: 75%;
    left: 12%;
    font-size: 3rem;
   font-family: 'Silkscreen', cursive;
   transition: all 1s;
   -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(3, 6, 209);
    opacity: 0;
    z-index: -4;
}

#caliente1{
    color: rgba(236, 34, 34, 0.904);
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 3rem;
   font-family: 'Silkscreen', cursive;
   transition: all 1s;
   -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(238, 236, 93);
    opacity: 0;
    z-index: -4;
}

#caliente2{
    color: rgba(236, 34, 34, 0.904);
    position: absolute;
    top: 15%;
    right: 10%;
    font-size: 3rem;
   font-family: 'Silkscreen', cursive;
   transition: all 1s;
   -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(238, 236, 93);
    opacity: 0;
    z-index: -4;
}

#caliente3{
    color: rgba(236, 34, 34, 0.904);
    position: absolute;
    top: 25%;
    right: 2%;
    font-size: 3rem;
   font-family: 'Silkscreen', cursive;
   transition: all 1s;
   -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(238, 236, 93);
    opacity: 0;
    z-index: -4;
}

#caliente4{
    color: rgba(236, 34, 34, 0.904);
    position: absolute;
    top: 35%;
    right: 16%;
    font-size: 3rem;
   font-family: 'Silkscreen', cursive;
   transition: all 1s;
   -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(238, 236, 93);
    opacity: 0;
    z-index: -4;
}

#caliente5{
    color: rgba(236, 34, 34, 0.904);
    position: absolute;
    top: 45%;
    right: 5%;
    font-size: 3rem;
   font-family: 'Silkscreen', cursive;
   transition: all 1s;
   -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(238, 236, 93);
    opacity: 0;
    z-index: -4;
}

#caliente6{
    color: rgba(236, 34, 34, 0.904);
    position: absolute;
    top: 55%;
    right: 15%;
    font-size: 3rem;
   font-family: 'Silkscreen', cursive;
   transition: all 1s;
   -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(238, 236, 93);
    opacity: 0;
    z-index: -4;
}

#caliente7{
    color: rgba(236, 34, 34, 0.904);
    position: absolute;
    top: 65%;
    right: 5%;
    font-size: 3rem;
   font-family: 'Silkscreen', cursive;
   transition: all 1s;
   -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(238, 236, 93);
    opacity: 0;
    z-index: -4;
}

#caliente8{
    color: rgba(236, 34, 34, 0.904);
    position: absolute;
    top: 75%;
    right: 12%;
    font-size: 3rem;
   font-family: 'Silkscreen', cursive;
   transition: all 1s;
   -webkit-background-clip: text;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(238, 236, 93);
    opacity: 0;
    z-index: -4;
}

.contenedor-modal{
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

#laTabla{
    overflow: auto;
}

.modal-lista{
    position: fixed;
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    transition: transform 1s;
    transform: translatex(-250%);
}

#cerrador p{
    margin-top: 1%;
    margin-bottom: 1%;
    background: rgb(240, 46, 46);
    text-align: center;
    text-shadow: 0px 0px 2px #ffffff;
    width: 6%;
    border-radius: 50%;
    cursor: pointer;
}

#listaDeJugadores{
    position: absolute;
    color: #ffe677;
    bottom: 4%;
    right: 44%;
    background: #62abdb;
    transition: all 0.8s;
}

#pantalla-inicio{
    background: rgba(255, 255, 255, 0.473);
    z-index: 10;
    position: absolute;
    visibility: visible;
}

#contenedor-inicio{
    display: none;
    position: relative;
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    transition: transform 1s;
    transform: translatey(0%);
}

#comenzar-juego{
    border:2px lemonchiffon solid;
    color: #2273dd;
    background:darkturquoise;
}

#jugador-nombre{
    outline: none;
}